<%= form_with model: [ @post, @post.comments.build ], local: true do |form| %>
  <p>
    <%= form.label 'Текст комментария' %><br>
    <%= form.text_field :content, size: '60x40' %>
  </p>
  <p>
    <%= form.submit 'Добавить комментарий' %>
  </p>
<% end %>
