<h4>Статьи</h4>
</br>

<% unless @posts.nil? || @posts == [] %>
  <table>
    <thead>
      <tr>
        <th>
          Наименование
        </th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <td><%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </table>
<% end %>
